<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.contesta.pronunciationtrainer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
        -->

    <application
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="@bool/useHardwareAcceleration"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Экран загрузки приложения -->
        <activity android:name=".ui.introduction.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Экран гида по приложения -->
        <activity android:name=".ui.introduction.OnboardingActivity" />

        <!-- Экран выбора родного языка -->
        <activity android:name=".ui.introduction.SelectNativeLanguageActivity" />

        <!-- Выбор мотивации изучения английского языка -->
        <activity android:name=".ui.introduction.SelectMotivationActivity" />

        <!-- Тесты с записью аудио -->
        <activity android:name=".ui.AudioTest" />

        <!-- Авторизация и регистрация -->
        <activity android:name=".ui.auth.SignUpActivity" />
        <activity android:name=".ui.auth.SignInActivity" />

        <!-- Главная страница приложения, которая содержит в себе фрагменты (магазин, экран с игрой и профиль) -->
        <activity android:name=".ui.MainActivity" />

        <!-- Для записи голоса -->
        <provider
            android:name=".AppFileProvider"
            android:authorities="${applicationId}.app_file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".services.RecordingService" />
    </application>
</manifest>